<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gyomu</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>
<body class="container">
    <h1 class="display-4 mb-4">業務効率化アプリ</h1>
    <p>「生産管理」または「蓄積データの表示」ページを選択してください。</p>
    <a class="link-primary" href="http://localhost/gyomu">生産管理</a>
    <p></p>
    <a class="link-primary" href="http://localhost/show">表示</a>

</body>
</html>